.App {
 
}

.Header {
    padding: 10px;
    background:#343a40;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index:10000;
}
.Editor{
    background:white;
}
.is-valid form-control {
    word-wrap: break-word;
    word-break: break-all;
    height: 80px;
}